<div class="col-md-4" *ngFor="let tarjeta of tarjetas">
    <div class="card">
        <div class="card-header text-white d-flex align-items-center">
            <button class="btn btn-danger" (click)="deleteTarjeta(tarjeta.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <!-- <img [src]="tarjeta.imagen" class="card-img-top"> -->
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p align="right">{{tarjeta.created_at | date: 'yyyy-MM-dd'}}</p>
                    <img [src]="tarjeta.imagen" class="col-md-6 float-md-end mb-3 ms-md-3">
                    <div class="col-6">
                        <p align="left">{{tarjeta.nombre}}</p>
                        <p align="center">{{tarjeta.especialidad}}
                        </p>
                    </div>
                </div>
            </div>
            <p align="right">{{tarjeta.municipio}}</p>
            <p align="right">{{tarjeta.estado}}</p>
            <p align="right">{{tarjeta.num_tel}} </p>
            <div class="col-md-4"><i class="fa-brands fa-google"></i> &nbsp; <i class="fa-brands fa-facebook"> </i>
                &nbsp; <i class="fa-brands fa-github"></i> &nbsp; <i class="fa-brands fa-twitter"></i></div>
            <a [routerLink]="['/tarjetas/edit', tarjeta.id]" class="btn btn-info">
                EDITAR TARJETA
            </a>
        </div>
    </div>
</div>
