<div class="col-md-4 offset-md-2">
    <div class="">
        <div class="card-body">
            <form>

                <div class="form-group">
                    <input type="text" name="id" [(ngModel)]="tarjeta.nombre" placeholder="id"
                        class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="especialidad" [(ngModel)]="tarjeta.especialidad" placeholder="nombre" rows="2"
                        class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="" [(ngModel)]="tarjeta.num_tel" placeholder="telefono"
                        class="form-control">
                </div>

                <div class="form-group">
                    <input type="text" name="municipio" [(ngModel)]="tarjeta.municipio" placeholder="lugar"
                        class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="lugar" [(ngModel)]="tarjeta.estado" placeholder="pais"
                        class="form-control">
                </div>
                <br>
                <button class="btn btn-success btn-block offset-md-4"
                    (click)="edit ? updateTarjeta() : saveNewTarjeta()">
                    Listo
                </button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-body">
        <div class="row">
            <div class="col-12">
                <p align="right">{{tarjeta.created_at | date: ''}}</p>
                <img [src]="tarjeta.imagen == '' ? '' : tarjeta.imagen" height="170"
                    class="col-md-6 float-md-end mb-3 ms-md-3">
                <div class="col-6">
                    <h4 align="left">{{tarjeta.id}}, {{tarjeta.nombre == '' ? '' :
                        tarjeta.nombre}}</h4>
                    <p align="center">{{tarjeta.especialidad == '' ? '' : tarjeta.especialidad}}
                    </p>
                </div>
            </div>
        </div>
        <p align="right">{{tarjeta.municipio == '' ? '' : tarjeta.municipio}}</p>
        <p align="right">{{tarjeta.estado == '' ? '' : tarjeta.estado}}</p>
        <p align="right">{{tarjeta.num_tel == '' ? '' : tarjeta.num_tel}} </p>
        <div class="col-md-4"><i class="fa-brands fa-google"></i> &nbsp; <i class="fa-brands fa-facebook"> </i> &nbsp; <i class="fa-brands fa-github"></i> &nbsp; <i class="fa-brands fa-twitter"></i></div>

        </div>
</div>
